/*
  The CSS in this style tag is based off of Bear Blog"s default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

:root {
	--viewport-spacing: 32px;

	--color-rosewater: 11deg 59% 67%;
	--color-flamingo: 0deg 66% 67%;
	--color-pink: 316deg 73% 63%;
	--color-mauve: 330deg 75% 59%;
	--color-red: 5deg 72% 57%;
	--color-maroon: 347deg 87% 44%;
	--color-peach: 23deg 95% 52%;
	--color-yellow: 35deg 77% 49%;
	--color-green: 109deg 58% 46%;
	--color-teal: 183deg 74% 35%;
	--color-sky: 197deg 97% 46%;
	--color-sapphire: 189deg 72% 42%;
	--color-blue: 220deg 91% 49%;
	--color-lavender: 231deg 75% 72%;
	--color-text: 234deg 16% 35%;
	--color-subtext1: 233deg 13% 41%;
	--color-subtext0: 233deg 10% 47%;
	--color-overlay2: 223deg 10% 53%;
	--color-overlay1: 213deg 10% 59%;
	--color-overlay0: 213deg 10% 65%;
	--color-surface2: 227deg 11% 71%;
	--color-surface1: 225deg 14% 77%;
	--color-surface0: 226deg 17% 82%;
	--color-base: 220deg 15% 90%;
	--color-mantle: 220deg 15% 93%;
	--color-crust: 220deg 21% 89%;

	--shadow-color: 223deg 6% 56%;
	--shadow-elevation-low:
		1px 1px 1.6px hsl(var(--shadow-color) / 0.34),
		1.7px 1.7px 2.7px -1.2px hsl(var(--shadow-color) / 0.34),
		4px 4px 6.4px -2.5px hsl(var(--shadow-color) / 0.34);
	--shadow-elevation-medium:
		1px 1px 1.6px hsl(var(--shadow-color) / 0.36),
		3.3px 3.3px 5.3px -0.8px hsl(var(--shadow-color) / 0.36),
		8.2px 8.2px 13px -1.7px hsl(var(--shadow-color) / 0.36),
		20px 20px 31.8px -2.5px hsl(var(--shadow-color) / 0.36);
	--shadow-elevation-high:
		1px 1px 1.6px hsl(var(--shadow-color) / 0.34),
		5.8px 5.8px 9.2px -0.4px hsl(var(--shadow-color) / 0.34),
		10.9px 10.9px 17.3px -0.7px hsl(var(--shadow-color) / 0.34),
		17.9px 17.9px 28.5px -1.1px hsl(var(--shadow-color) / 0.34),
		28.6px 28.6px 45.5px -1.4px hsl(var(--shadow-color) / 0.34),
		44.7px 44.7px 71.1px -1.8px hsl(var(--shadow-color) / 0.34),
		67.9px 67.9px 108px -2.1px hsl(var(--shadow-color) / 0.34),
		100px 100px 159.1px -2.5px hsl(var(--shadow-color) / 0.34);
}

html[data-theme="dark"] {
	--color-rosewater: 10deg, 56%, 91%;
	--color-flamingo: 0deg, 59%, 88%;
	--color-pink: 316deg, 71%, 86%;
	--color-mauve: 267deg, 84%, 81%;
	--color-red: 343deg, 73%, 75%;
	--color-maroon: 355deg, 65%, 72%;
	--color-peach: 30deg, 93%, 73%;
	--color-yellow: 41deg, 86%, 83%;
	--color-green: 115deg, 54%, 76%;
	--color-teal: 170deg, 57%, 73%;
	--color-sky: 180deg, 71%, 73%;
	--color-sapphire: 199deg, 76%, 69%;
	--color-blue: 217deg, 92%, 75%;
	--color-lavender: 226deg, 97%, 88%;
	--color-text: 226deg, 64%, 88%;
	--color-subtext1: 226deg, 35%, 86%;
	--color-subtext0: 228deg, 24%, 72%;
	--color-overlay2: 228deg, 13%, 63%;
	--color-overlay1: 228deg, 11%, 54%;
	--color-overlay0: 228deg, 10%, 45%;
	--color-surface2: 234deg, 13%, 39%;
	--color-surface1: 237deg, 16%, 33%;
	--color-surface0: 237deg, 16%, 25%;
	--color-base: 240deg, 9%, 15%;
	--color-mantle: 240deg, 9%, 11%;
	--color-crust: 240deg, 11%, 9%;
}
@font-face {
	font-family: "Atkinson";
	src: url("/fonts/atkinson-regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Atkinson";
	src: url("/fonts/atkinson-bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
body {
	font-family: "Atkinson", sans-serif;
	margin: 0;
	padding: 0;
	text-align: left;
	word-wrap: break-word;
	overflow-wrap: break-word;
	background-color: hsl(var(--color-base));
	color: hsl(var(--color-text));
	font-size: 20px;
	line-height: 1.7;
}
main {
	width: 65ch;
	max-width: calc(100% - 2em);
	margin: auto;
	padding: 3em 1em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 0.5rem 0;
	color: hsl(var(--color-text));
	line-height: 1.2;
}
h1 {
	font-size: 3.052em;
}
h2 {
	font-size: 2.441em;
}
h3 {
	font-size: 1.953em;
}
h4 {
	font-size: 1.563em;
}
h5 {
	font-size: 1.25em;
}
strong,
b {
	font-weight: 700;
}
a {
	color: hsl(var(--color-blue));
}
a:hover {
	color: hsl(var(--color-lavender));
}
p {
	margin-bottom: 1em;
}
.prose p {
	margin-bottom: 2em;
}
textarea {
	width: 100%;
	font-size: 16px;
}
input {
	font-size: 16px;
}
table {
	width: 100%;
}
img {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
}
code {
	padding: 2px 5px;
	border-radius: 2px;
}
pre {
	padding: 1.5em;
	border-radius: 8px;
}
pre > code {
	all: unset;
}
blockquote {
	border-left: 4px solid hsl(var(--color-sky));
	padding: 0 0 0 20px;
	margin: 0px;
	font-size: 1.333em;
}
hr {
	border: none;
	border-top: 1px solid hsl(var(--color-overlay0));
	width: 100%;
}
@media (max-width: 720px) {
	body {
		font-size: 18px;
	}
	main {
		padding: 1em;
	}
}

.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px 1px 1px 1px);
	/* maybe deprecated but we need to support legacy browsers */
	clip: rect(1px, 1px, 1px, 1px);
	/* modern browsers, clip-path works inwards from each corner */
	clip-path: inset(50%);
	/* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
	white-space: nowrap;
}


::-webkit-scrollbar {
	appearance: none;
	width: 5px;
}
::-webkit-scrollbar-track {
	background: hsl(var(--color-base));
}
::-webkit-scrollbar-thumb {
	background-color: hsl(var(--color-surface2));
	border-radius: 90px;
}
